<?xml version="1.0" encoding="utf-8" ?> <!--文件宣告-->
<configuration> <!--配置設定-->
	<connectionStrings> <!--存放資料庫的連接字串-->
		<add name="OracleDbConnection"
			 connectionString="Data Source=172.16.63.106:1521/xbos2;User Id=xbosprod;Password=login123;"
			 providerName="Oracle.ManagedDataAccess.Core"/>
	</connectionStrings>
</configuration>

<!--
connectionString="User Id=your_username;Password=your_password;Data Source=your_oracle_db;
YourOracleHost, YourPort, YourServiceName, YourUsername, YourPassword替換成 Oracle 資料庫的詳細資訊。-->

<!--The Info from file: tnsnames.ora
LDBAXBOS2    = (DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST = 172.16.63.106)(PORT = 1521))
(CONNECT_DATA = (SERVER = DEDICATED) (SERVICE_NAME = xbos2)))-->

<!--providerName 的說明: 通常用來選擇不同資料庫管理系統（DBMS）的驅動程式或提供者。
                         通常預設是 SQL Server 的驅動程式 System.Data.SqlClient。-->
